# Questions
* what is the difference between lists and dictionaries
* docstrings
* iterating over a dictionary
* talk about how to send notebooks to someone else for feedback using jupyter hub
* for loops
* git fatal...is it actually fatal?
* how to keep jupyter running but add repos and continue working
* how to save git credentials permanently 
* how to get spell check in jupyter

# Let's begin

let's make a list of students and put them in pandas dataframe by the end of this study group

In [2]:
# each student needs to have a dictionary of information
# fName, lName, timezone

student1 = {"fName": "rafa", "lName": "carrasco", "timezone": "cst"}
student1

# this takes way too long if we're doing 10 students

{'fName': 'rafa', 'lName': 'carrasco', 'timezone': 'cst'}

In [19]:
fnames = ["juico", "rafa", "kristen", "andrew", "gabby", "wolfgang", "seth", "tia", "anna", "george"]

In [20]:
# how do we get specific elements from the list
# indexing our list 
fnames[4], fnames[6], fnames[-6]

('gabby', 'seth', 'gabby')

In [21]:
len(fnames)

10

In [22]:
# to get the last element
fnames[len(fnames)-1]

'george'

In [23]:
# for each name I want to add _student to the end of it
for index, fname in enumerate(fnames):
    fname += "_student"
    fnames[index] = fname
fnames

['juico_student',
 'rafa_student',
 'kristen_student',
 'andrew_student',
 'gabby_student',
 'wolfgang_student',
 'seth_student',
 'tia_student',
 'anna_student',
 'george_student']

In [24]:
fnames = ["juico", "rafa", "kristen", "andrew", "gabby", "wolfgang", "seth", "tia", "anna", "george"]

In [26]:
# inline for loop - very pythonic
# list comprehension
new_fnames = [fname+"_student" for fname in fnames]
new_fnames

['juico_student',
 'rafa_student',
 'kristen_student',
 'andrew_student',
 'gabby_student',
 'wolfgang_student',
 'seth_student',
 'tia_student',
 'anna_student',
 'george_student']

In [31]:
# let's make another list of last names
lnames_string = "bowley carrasco davis moy wallach chart plagata d'angela paskalev holley"
lnames = lnames_string.split(" ")
lnames

['bowley',
 'carrasco',
 'davis',
 'moy',
 'wallach',
 'chart',
 'plagata',
 "d'angela",
 'paskalev',
 'holley']

In [38]:
# before adding these to a dictionary I want to make a list of complete names

complete_names = [fname+"_"+lname for fname, lname in zip(fnames, lnames)]
complete_names

['juico_bowley',
 'rafa_carrasco',
 'kristen_davis',
 'andrew_moy',
 'gabby_wallach',
 'wolfgang_chart',
 'seth_plagata',
 "tia_d'angela",
 'anna_paskalev',
 'george_holley']

In [40]:
dict(zip(fnames, lnames)) # dictionary k = fname, v = lname

{'juico': 'bowley',
 'rafa': 'carrasco',
 'kristen': 'davis',
 'andrew': 'moy',
 'gabby': 'wallach',
 'wolfgang': 'chart',
 'seth': 'plagata',
 'tia': "d'angela",
 'anna': 'paskalev',
 'george': 'holley'}

In [46]:
# let's make our list of students (each student is a dictionary)
list_of_students = []


# 
for fname, lname, cn in zip(fnames, lnames, complete_names): # (juico, bowley), ('rafa', 'carrasco')
    d = {} # d = {}, 
    d['fname'] = fname # d = {'fname': 'juico'}
    d['lname'] = lname # d = {'fname': 'juico', 'lname': 'bowley'}
    list_of_students.append(d) # list_of_students=[{'fname': 'juico', 'lname': 'bowley'}]
list_of_students

[{'fname': 'juico', 'lname': 'bowley'},
 {'fname': 'rafa', 'lname': 'carrasco'},
 {'fname': 'kristen', 'lname': 'davis'},
 {'fname': 'andrew', 'lname': 'moy'},
 {'fname': 'gabby', 'lname': 'wallach'},
 {'fname': 'wolfgang', 'lname': 'chart'},
 {'fname': 'seth', 'lname': 'plagata'},
 {'fname': 'tia', 'lname': "d'angela"},
 {'fname': 'anna', 'lname': 'paskalev'},
 {'fname': 'george', 'lname': 'holley'}]

In [47]:
# list of dictionaries is usually the best way to create data for data processing

In [48]:
# fname, lname
# 'juico', 'bowley'
# 'rafa', 'carrasco'
# 'kristen', 'davis'

import pandas as pd

In [49]:
df = pd.DataFrame(list_of_students)

In [50]:
df.head()

     fname     lname
0    juico    bowley
1     rafa  carrasco
2  kristen     davis
3   andrew       moy
4    gabby   wallach

In [51]:
df.to_csv("data/students.csv", index=False)

# What did you learn?
* gained a better understanding of the zip function
* how to convert a list of dictionaries into a csv using pandas 
* inline for loops
* sublime text - great keybindings
* how to use the .split() method for str type objects
* modify elements of a list 
* nbextensions - pip install nbextensions
* multi-cursor typing
* tuples (too-plz)
    * memory efficient...immutable
    * mutable and immutable
* pros of dictionaries
    * look up items waaaay faster than in a list
    * hashable

In [1]:
import numpy as np
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd

;pyviz